{% for vrf in vrfs %}
vrf context {{ vrf }}
{% if vrf == "management" %}
ip route {{ default_dest }}/{{ default_mask}} {{ next_hop }}
{% endif %}
{% endfor %}
{% for intf in interfaces %}
{% if intf.name == "mgmt0" %}
interface {{ intf.name }}
vrf member {{ intf.vrf }}
ip address {{ intf.ip }}/{{ intf.mask }}
{% elif intf.name == "Vlan1" %}
interface {{ intf.name }}
{% elif intf.name in list_intf_ip %}
interface {{ intf.name }}
no switchport
mac-address {{ mac }}
ip address {{ intf.ip }}/{{ intf.mask }}
no shutdown
{% endif %}
{% endfor %}
{% for index in range(5,49) %}
interface Ethernet2/{{ index }}
shutdown
mac-address {{ mac }}
no switchport 
{% endfor %}
